@font-face {
    font-family: '20 Kopeek';
    src: url('../fonts/20Kopeek-Book.eot');
    src: url('../fonts/20Kopeek-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/20Kopeek-Book.woff2') format('woff2'),
    url('../fonts/20Kopeek-Book.woff') format('woff'),
    url('../fonts/20Kopeek-Book.ttf') format('truetype'),
    url('../fonts/20Kopeek-Book.svg#20Kopeek-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    padding: 0;
    margin: 0;
}
header{
    position: absolute;
    width: 100%;
}

.mw{
    max-width: 1110px;
    margin: auto;
}

.my-section{
    background-image: url('../logos/milk_bottle.png');
    background-size: cover;
    padding-top: 269px;
    background-repeat: no-repeat;
    height: 100vh;
}

.my-nav{
    display: flex;
    justify-content: space-between;
}

.my-li{
    margin-right: 23px;
}

.my-logo{
    display: flex;
    margin-top: 23px;
}

.my-a{
    text-decoration: none;
}

.logo-space{
    margin-right: 22px;
}

.my-ul{
    display: flex;
    margin-top: 24px;
}

.ul-padding{
    padding-left: 0;
}

.year{
    font-family: '20 Kopeek';
    width: 193px;
    height: 43px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
}
.tel {
    font-family: '20 Kopeek';
    width: 204px;
    padding: 7px 27px 7px 33px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px;
}
.fb{
    width: 36px;
    height: 36px;
}

.inst{
    width: 36px;
    height: 36px;
}

h1{
    font-family: '20 Kopeek';
    margin-top: 269px;
    width: 493px;
    height: 80px;
    font-size: 45px;
    line-height: 100%;
    color: #181818;
    padding-bottom: 30px;
}

.offer{
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 110%;
    color: #181818;
}

ul li{
    list-style-type: none;
    margin: auto;
    display: inline-block;
}

.portfolio{
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #181818;
    padding: 23px 47px;
    display: flex;
    margin-top: 65px;
    background: #FFFFFF;
    border-radius: 40px;
}

.statement{
    font-family: '20 Kopeek';
    padding: 23px 47px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #181818;
    display: flex;
    margin-left: 20px;
    margin-top: 65px;
    background: #FFFFFF;
    border-radius: 40px;

}
.company-style{
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 110%;
    margin-top: 70px;
    margin-bottom: -10px;
}
.paragraph{
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 800;
    font-size: 19px;
    line-height: 140%;
    color: #181818;
    margin-top: 0;
}
.fruits{
    max-width: 635px;
    margin-right: 30px;
}
.paragraph-two {
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 800;
    font-size: 19px;
    line-height: 140%;
    color: #181818;
    margin-bottom: 0;
}
.name-and-logo{
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 100%;
    color: #181818;
    margin-top: 150px;
    /*float: left;*/
}
.numbers-list{
    display: flex;
}
.digit{
    font-size: 55px;
    font-weight: 400;
    line-height: 25px;
    font-family: '20 Kopeek';
    padding-right: 8px;
    padding-top: 40px;
}
.one{
    display: flex;
    font-size: 18px;
    /*font-weight: 400;*/
    line-height: 25px;
    font-family: '20 Kopeek';
    padding-right: 67px;
}
.two{
    display: flex;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    font-family: '20 Kopeek';
    padding-right: 83px;
}
.three{
    display: flex;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    font-family: '20 Kopeek';
    padding-right: 68px;
}
.four{
    display: flex;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    font-family: '20 Kopeek';
    padding-right: 90px;
}
.five {
    display: flex;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    font-family: '20 Kopeek';
    padding-bottom: 16px;
}
.little-fonts{
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
}
.lifecare-container{
    display: flex;
    margin-top: 120px;
}
.how-much{
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 110%;
    margin-top: 0;
    margin-bottom: 15px;
}
.left-paragraph{
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 140%;
    color: #181818;
    margin-right: 82px;
    margin-top: 40px;
}
.picture{
    max-width: 634px;
    width: 100%;
    float: right;
    clear: both;
    padding-bottom: 150px;
}
.color-blue{
    background: rgba(43, 89, 195, 1);
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
    padding: 11px 7px 11px 13px;
}
.amperia{
    width: 100%;
    height: 100%;
    padding-bottom: 38px;
}
.amperia-font{
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 100%;
    padding-top: 10px;
    padding-right: 89px;
}
.brand-font{
      font-family: '20 Kopeek';
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 140%
  }
.to-watch-project {
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #181818;
    display: flex;
    padding: 23px 47px;
    border: 1px solid #181818;
    box-sizing: border-box;
    border-radius: 40px;
    text-decoration: none;
}
.show {
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 110%;
    color: aliceblue;
    display: inline-block;
    padding: 23px 47px;
    background: #2B59C3;
    border-radius: 40px;
    text-decoration: none;
    margin-bottom: 100px;
}
.gaidlines{
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 110%;
    color: #181818;
    padding-bottom: 15px;
}
.what-is-the{
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 110%;
    padding: 14px 30px 30px 14px;
}
.text{
    font-family: '20 Kopeek';
    font-style: normal;
    font-size: 18px;
    line-height: 140%;
    padding-left: 14px;
}
.text-part-bold{
    font-weight: bold;
}
.text-part-normal-with-padding{
    font-weight: normal;
    padding-bottom: 14px;
}
.colors{
    background: #2B59C3;
    color: #FFFFFF;
}
.guidline-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 16px;
}
.head-under-form{
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 110%;
    color: #181818;

}