header{
    background: #CDCDCD;
}
.mw{
    max-width: 1110px;
    margin: auto;
}

.my-section{
    background-image: url('../logos/milk_bottle.png');
    background-size: cover;
    padding-top: 269px;
    padding-bottom: 309px;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.my-nav{
    display: flex;
    justify-content: space-between;
}

.my-li{
    margin-right: 23px;
}

.my-logo{
    display: flex;
    margin-top: 23px;
}

.my-a{
    text-decoration: none;
}

.logo-space{
    margin-right: 22px;
}

.my-ul{
    display: flex;
    margin-top: 24px;
}

.ul-padding{
    padding-left: 0;
}

.year{
    width: 193px;
    height: 43px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
}
.tel {
    width: 204px;
    padding: 7px 27px 7px 33px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px;
}
.fb{
    width: 36px;
    height: 36px;
}

.inst{
    width: 36px;
    height: 36px;
}

h1{
    margin-top: 269px;
    width: 493px;
    height: 80px;
    font-size: 45px;
    line-height: 100%;
    color: #181818;
}

h2{
    width: 400px;
    height: 22px;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 29px;
    color: #181818;
}

ul li{
    list-style-type: none;
    margin: auto;
    display: inline-block;
}

.portfolio{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #181818;
    padding: 23px 47px;
    display: flex;
    margin-top: 65px;
    background: #FFFFFF;
    border-radius: 40px;
}

.statement{
    padding: 23px 47px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #181818;
    display: flex;
    margin-left: 20px;
    margin-top: 65px;
    background: #FFFFFF;
    border-radius: 40px;

}
.company-style{
    /*font-family: 20 Kopeek Book;*/
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 110%;
    margin-top: 70px;
    padding-bottom: 15px;
}
.paragraph{
    /*font-family: 20 Kopeek;*/
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #181818;
}
.fruits{
    max-width: 635px;
    width: 100%;
    float: left;
    padding-right: 30px;
    padding-bottom: 141px;
}
