
@media only screen and (max-width: 768px) {
   .my-ul{
       display: none;
   }
    .my-logo{
        margin-left: 36px;
    }
    .my-section{
     background-image: url("../logos/image_media.jpg");
    }
    h1{
        color: #FFFFFF;
    }
    .offer{
        color: #FFFFFF;
    }
}
