
@media only screen and (max-width: 768px) {

   .my-ul{
       display: none;
   }
    .my-logo{
        margin-left: 36px;
    }
    .my-section{
     background-image: url("../logos/image_media.jpg");
    }
    h1{
        margin-top: 70px;
        margin-left: 36px;
        color: #FFFFFF;
    }
    .offer{
        color: #FFFFFF;
        margin-left: 36px;
    }
    .ul-padding
    {
        display: inline-grid;

    }
    .portfolio{
        padding-right: 83px;
        margin-left: 36px;

    }
    .statement{
        margin-left: 36px;
    }
    .margin_l{
        margin-left: 36px;
    }
    .wrap-media{
      flex-wrap: wrap;
    }
    .fruits{
        margin-top: 15px;
        margin-bottom: 30px;
        width: 75%;
    }
    .prgrph{
        margin-right: 200px;
    }
    .numbers-list{
        flex-wrap: wrap;
    }
    .digit{
        margin-top: 42px;
    }
    .m_font{
        padding-top: 24px;
    }
    .lifecare-container{
        display: flex;
        flex-direction: column-reverse;
        /*margin-left: 36px;*/
    }
    .picture{
        padding-bottom: 25px;
    }
    .left-paragraph{
        margin-bottom: 150px;
    }
     .br_to_remove {content: ""}
     .br_to_remove:after {content: "\00a0"}
        .width{
          width: 100%;
        }
        .orange{
         flex-wrap: wrap;
        }
        .text-part-normal-with-padding br{content: ""}
        .text-part-normal-with-padding br:after {content: "\00a0"}
        .text-part-bold br{content: ""}
        .text-part-bold br:after {content: "\00a0"}

    picture img{
            padding-bottom: 26px;
        }
    .guidline-details{
        margin-left: 0;
        width: 70%;
        }
    .text-part-bold{
        padding-top: 23px;
    }
    .media_f{
       flex-wrap: wrap-reverse;
    }
    .phone{
        padding: 18px 276px 20px 21px;
        margin-left: 0;
    }
    .your-name{
        padding: 18px 355px 20px 21px;
    }
    .btn{
        order: -1;
        margin-bottom: 30px;
    }
    .stages-container{
        flex-wrap: wrap;
    }

    }

